.menu-item .menu-text {
	color: #B9BFCF !important;
	font-size: 15px !important;
}

.navi-item-border:not(first-child) {
	position: relative;
	margin-top: -1px;
}

.navi-item-border .navi-link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 9px;
	right: 9px;
	height: 1px;
	background-color: #EFF1F5;
	border-radius: 1px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.navi-item-border .navi-link:hover:after {
	opacity: 0;
}

.navi-item-border .navi-link.active:after {
	opacity: 0;
}

.navi-item-border:last-child .navi-link:after{
	display: none;
}

.switch-custom label {
	position: relative;
	z-index: 1;
}

.switch-custom b {
	position: absolute;
	top: -4px;
	bottom: -5px;
	left: -8px;
	right: -15px;
	z-index: -1;
	background-color: #FFEEF0;
	border-radius: 35px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.switch-custom input:checked ~ b {
	background-color: #F0F4FE
}

.switch-custom input ~ span {
	width: 32px !important;
	height: 20px !important;
	border-radius: 16px !important;
}

.switch-custom input ~ span:before {
	width: 32px !important;
	background-color: #fff !important;
	border: 1px solid #E2E3E6 !important;
}

.switch-custom input ~ span:after {
	width: 12px !important;
	height: 12px !important;
	background-color: #B9BFCF !important;
	top: 4px !important;
	bottom: auto !important;
	margin-left: 4px !important;
	opacity: 1 !important;
}

.switch-custom input:checked ~ span:before {
	background-color: #687EF0 !important;
	border-color: #687EF0 !important;
}

.switch-custom.switch-success input:checked ~ span:before {
	background-color: #31CCA7 !important;
	border-color: #31CCA7 !important;
}

.switch-custom input:checked ~ span:after {
	margin-left: 16px !important;
}

.switch-custom.switch-success input:checked ~ b {
	background-color: #EBFAF7
}

.switch-custom-2 input ~ span:before {
	background-color: #F64E60 !important;
	border: 1px solid #F64E60 !important;
}

.switch-custom-2 input ~ span:after {
	background-color: #fff !important;
}

.switch-custom.switch-sm input ~ span {
	width: 24px !important;
	height: 14px !important;
	border-radius: 7px !important;
}

.switch-custom.switch-sm input ~ span:before {
	width: 24px !important;
}

.switch-custom.switch-sm input ~ span:after {
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px !important;
	top: 2px !important;
}

.switch-custom.switch-sm input:checked ~ span:after {
	margin-left: 12px !important;
}

.offcanvas {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.offcanvas-content {
	position: relative;
}

.text-arrow {
	position: relative;
	display: inline-block;
	padding-right: 9px;
}

.text-arrow:after {
	content: '';
	position: absolute;
	right: -12px;
	top: 5px;
	width: 12px;
	height: 10px;
	border-style: solid;
	border-width: 5px 6px;
	border-color: transparent;
	border-left-color: #9099B1;
	-webkit-transform: rotate(90deg) translate(3px, 2px);
	-ms-transform: rotate(90deg) translate(3px, 2px);
	-o-transform: rotate(90deg) translate(3px, 2px);
	transform: rotate(90deg) translate(3px, 2px);
}

.text-arrow.collapsed:after {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.custom-table {
	letter-spacing: .2px;
}

.table thead th,
.table tbody td {
	padding: 1.244rem 1.54rem;
}

.custom-table thead th {
	background-color: #F7F8FA;
	color: #9099B1;
	font-weight: normal;
}

.custom-table thead th:first-child {
	border-top-left-radius: 5px;
}

.custom-table thead th:last-child {
	border-top-left-radius: 5px;
}

.accept-block {
	background-color: #FFDF6D;
}

.custom-sort-th {
	position: relative;
	padding-right: 13px;
	cursor: pointer;
	display: inline-block;
}

.custom-sort-th:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 7px;
	height: 10px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDcgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zLjUwMDIgMTBMMS4yNzE0NmUtMDcgNkwzIDZMMyAzLjQ5NjkxZS0wN0w0IDIuNjIyNjhlLTA3TDQgNkw3IDZMMy41MDAyIDEwWiIgZmlsbD0iIzkwOTlCMSIvPgo8L3N2Zz4K);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.custom-sort-th.active {
	color: #628AF1;
}
.custom-sort-th.active:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDcgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zLjUwMDIgMTBMMS4yNzE0NmUtMDcgNkwzIDZMMyAzLjQ5NjkxZS0wN0w0IDIuNjIyNjhlLTA3TDQgNkw3IDZMMy41MDAyIDEwWiIgZmlsbD0iIzYyOEFGMSIvPgo8L3N2Zz4K);
}

select.form-control {
	background-image: url(../media/triangle.svg);
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: top 50% right 18px;
	padding-right: 33px;
	padding-left: 20px;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item {
	padding-left: 51px;
	position: relative;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item .check-mark {
	display: block !important;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(63, 66, 84, 0.15);
	border-radius: 5px;
	left: 20px;
	top: 50% !important;
	margin-top: -11px !important;
	overflow: hidden;
	background-color: #fff;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item .check-mark:after {
	display: none !important;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item .check-mark:before {
	content: '' !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #628AF1;
	background-image: url(../media/check-mark.svg);
	-webkit-background-size: 16px;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	-webkit-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item.selected .check-mark {
	border: 1px solid #628AF1 !important;
	background-color: #628AF1;
}

.selectpicker[multiple] + button + .dropdown-menu .dropdown-item.selected .check-mark:before {
	opacity: 1;
}

.bs-searchbox .form-control {
	padding: 0 40px 0 20px !important;
	height: 35px !important;
	border-radius: 5px !important;
	background-color: rgba(239, 241, 245, 0.6);
	border: none !important;
	background-image: url(../media/magnify.svg);
	-webkit-background-size: 16px;
	background-size: 16px;
	background-position: top 50% right 15px;
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: normal;
}

.bs-searchbox .form-control::placeholder {
	color: #B9BFCF;
}

.bootstrap-select .dropdown-menu .inner {
	max-height: 250px !important;
}

.bootstrap-select.show .dropdown-toggle:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.search-form {
	position: relative;
}

.search-input {
	padding: 7px 35px 7px 20px !important;
	font-size: 13px !important;
	height: auto !important;
	min-width: 352px !important;
	background-image: url(../media/magnify.svg);
	-webkit-background-size: 16px;
	background-size: 16px;
	background-position: top 50% right 15px;
	background-repeat: no-repeat;
}

.search-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 1px 3px 5px rgba(93, 120, 255, 0.06);
	box-shadow: 1px 3px 5px rgba(93, 120, 255, 0.06);
	z-index: 1;
	display: none;
}

.search-dropdown-item {
	cursor: pointer;
	padding: 7px 21px;
	font-size: 13px;
	color: #3F4254;
}

.search-dropdown-item:hover,
.search-dropdown-item.active {
	background-color: #EFF1F5;
}

.opened-dropdown .search-dropdown {
	display: block;
}

.search-dropdown-list {
	max-height: 260px;
	overflow-y: auto;
}

.btn .svg-icon svg {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.table-hover tbody tr:hover .symbol .symbol-label {
	background-color: #fff;
}